{% extends 'transaction.html' %}
{% block content2 %}
    <div class="card card-body">
        <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="text-align: center;">
                    <span>
                         <input type="submit" class="btn btn-danger"
                                style="background-color: green" name="is_ok"
                                id="is_ok" value="Accept">
                     </span>
            </div>
        </form>
        <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="text-align: center;">
                    <span>
                         <input type="submit" class="btn btn-danger"
                                name="is_ok"
                                id="is_ok" value="Cancel">
                     </span>
            </div>
        </form>
    </div>


{% endblock %}